{
  "presets": ["babel-preset-expo", "module:react-native-dotenv"],
  "env": {
    "development": {
      "plugins": [
        "@babel/transform-react-jsx-source",
        [
          "module-resolver",
          {
            "root": "./",
            "alias": {
              "i18n": "./i18n"
            }
          }
        ]
      ]
    }
  }
}
